/***** ATELIER *****/
h2 {
  text-align: center;
  text-transform: uppercase;
}

.atelier #container {
  margin: 10px;
}

/***** Boutons choix 1 *****/
.atelier .buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.buttons button {
  background-color: lightgreen;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  border: 0;

  &:active {
    transform: translateY(2px);
  }
}

/*** Boutons Choix 2 ***/

#choices > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

#choices button {
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 100px;
  border: 0;
  background-color: #ccc;

  &:active {
    transform: translateY(2px);
  }
}

/****** tea choices ******/

#red.active {
  background-color:red;
}

#green.active {
  background-color: lightgreen;
}

#black.active {
  background-color: black;
}

/*** bubble choice ***/

#tapioca.active {
  background-color: black;
}

#candy.active {
  background-color: pink;
}

#none.active {
  background-color: white;
  border: 1px solid black;
}

/*** flavour choice ***/

.flavour button {
  background-color: magenta;
}

/*** heat choice ***/

#hot.active {
  background-color: orange;
}

#cold.active {
  background-color: lightblue;
}

/*** size choice ***/
#small {
  background-color: yellow;
}

#large {
  background: green;
}

/*** summary ****/
#summary {
  margin: 30px 0;
}

/**** Bouton commander ***/

#valid-atelier {
  background-color: brown;
  padding: 10px 0;
  border-radius: 10px;
  width: 100%;
  border: 0;
  color: #fff;

  &:active {
    transform: translateY(2px);
  }
}

/****** tasse bbt ******/

#cup {
  width: 150px;
  border-top:  200px solid #27FB6B;
  border-left:  25px solid transparent;
  border-right: 25px solid transparent;
  opacity: 0.5;
  position: relative;
  margin: 30px auto;

  &:before{
    width: 4px;
    height: 160px;
    margin-top: -250px;
    margin-left: -30px;
    border-radius: 2px;
  }
}

div#light {
  height: 200px;
  width: 15px;
  background-color: white;
  position: absolute;
  transform: skew(5deg);
  bottom: 0;
  right: 80%;
  opacity: 0.2;
}

#straw {
  height: 230px;
  width: 20px;
  background-color: magenta;
  position: absolute;
  transform: skew(-10deg);
  bottom: 0;
  right: 0;
}

.bubble {
  width: 13px;
  height: 13px;
  display: block;
  background-color: black;
  border-radius: 100%;
  position: absolute;
}

#one {
  left: 20%;
  bottom: 10px;
}

#two {
  left: 80%;
  bottom: 30px;
}

#three {
  left: 50%;
  bottom: 2px;
}

#four {
  left: 35%;
  bottom: 40px;
}

#five {
  left: 1%;
  bottom: 28px;
}

#six {
  left: 60%;
  bottom: 24px;
}

#seven {
  right: 0;
  bottom: 6px;
}
