/***** ATELIER *****/
.atelier {
  margin: 30px 0;
}
.atelier h2 {
  text-align: center;
  text-transform: uppercase;
}

.atelier #container {
  margin: 10px;

  @media screen and (min-width: 760px) {
    display: flex;
    flex-wrap: wrap;
  }

  & #atelier-intro {
    display: none;

    @media screen and (min-width: 760px) {
      display: block;
      width: 50%;
      line-height: 1.5em;
      align-self: center;

      & p {
        margin-bottom: 10px;
      }
    }
  }
}

/***** Boutons choix 1 *****/
#atelier-diy {
  @media screen and (min-width: 760px) {
    width: 50%;
  }
}


.atelier .buttons {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  & li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.buttons button {
  background-color: lightgreen;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  border: 0;

  & img{
    width: 30px;
    vertical-align: middle;
    margin-left: 5px;
  }

  &:active {
    transform: translateY(2px);
  }
}

button#size-button img {
  width: 12px;
  vertical-align: bottom;

  &:last-child {
    width: 20px;
    margin-left: 0;
  }
}

/*** Boutons Choix 2 ***/

#choices > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

#choices button {
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 100px;
  border: 0;
  background-color: #ccc;

  &:active {
    transform: translateY(2px);
  }
}

/****** tea choices ******/

#red.active {
  background-color:red;
}

#green.active {
  background-color: lightgreen;
}

#black.active {
  background-color: black;
}

/*** bubble choice ***/

#tapioca.active {
  background-color: black;
}

#candy.active {
  background-color: pink;
}

#aucune.active {
  background-color: white;
  border: 1px solid black;
}

/*** flavour choice ***/

.flavour button {
  background-color: magenta;
}

/*** heat choice ***/

#hot.active {
  background-color: orange;
}

#cold.active {
  background-color: lightblue;
}

/*** size choice ***/
#small {
  background-color: yellow;
}

#large {
  background: green;
}

/*** summary ****/
.summary {
  margin: 30px 0;

  & ul {
    list-style-type: none;
  }

  @media screen and (min-width: 760px) {
    width: 100%;
  }
}

/**** Bouton commander ***/

#valid-atelier {
  background-color: #4F3E0F;
  font-size: 18px;
  padding: 10px 0;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  border: 0;
  color: #fff;

  &:active {
    transform: translateY(2px);
  }

  @media screen and (min-width: 760px) {
    align-self: center;
    width: 80%;
    margin: auto;
  }
}

/****** tasse bbt ******/

#cup {
  width: 150px;
  border-top:  200px solid #27FB6B;
  border-left:  25px solid transparent;
  border-right: 25px solid transparent;
  opacity: 0.5;
  position: relative;
  margin: 30px auto;

  &:before{
    width: 4px;
    height: 160px;
    margin-top: -250px;
    margin-left: -30px;
    border-radius: 2px;
  }
}

div#light {
  height: 200px;
  width: 15px;
  background-color: white;
  position: absolute;
  transform: skew(5deg);
  bottom: 0;
  right: 80%;
  opacity: 0.2;
}

#straw {
  height: 230px;
  width: 20px;
  background-color: magenta;
  position: absolute;
  transform: skew(-10deg);
  bottom: 0;
  right: 0;
}

.bubble {
  width: 13px;
  height: 13px;
  display: block;
  background-color: black;
  border-radius: 100%;
  position: absolute;
}

#one {
  left: 20%;
  bottom: 10px;
}

#two {
  left: 80%;
  bottom: 30px;
}

#three {
  left: 50%;
  bottom: 2px;
}

#four {
  left: 35%;
  bottom: 40px;
}

#five {
  left: 1%;
  bottom: 28px;
}

#six {
  left: 60%;
  bottom: 24px;
}

#seven {
  right: 0;
  bottom: 6px;
}



/**** alertify ****/
.alertify-logs .success {
  background: lightgreen;
  color: #000;
  opacity: 1;
}
