@font-face {
    font-family: "Dancing Script";
    src: url("../fonts/DancingScript-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Dancing Script";
    src: url("../fonts/DancingScript-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Bold.ttf");
    font-style: bold;
    font-weight: bold;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Italic.ttf");
    font-style: italic;
    font-weight: normal;
}