@for $i from 1 through 12 {

  .col-#{$i} {
    width: 100% / 12 * $i;
  }

}

@mixin bp($breakpoint) {
  @if $breakpoint == "tablet" {
    @media (min-width: 768px) {
      @content;
    }
  }
}

.hidden-xs {
  display: none;
  @include bp('tablet') {
    display: initial;
  }
}

.hidden-md {
  display: initial;
  @include bp('tablet') {
    display: none;
  }
}