@import "./_grid.scss";

.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: #FFF9EF;
  z-index: 2;
  &__title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 45px;
  }
  &__item {
    position: relative;
    width: 148px;
    height: 158px;
    margin: 5px;
    @include bp('tablet') {
      width: 232px;
      height: 232px;
      margin: 50px;
      max-width: 232px;
      max-height: 232px;
      overflow: hidden;
    }
  }
  &__close {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 18px;
    height: 18px;
    &:hover {
      cursor: pointer;
    }
  }
}