@import "./_grid.scss";

.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: #FFF9EF;
  z-index: 9999;
  &__title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 45px;
  }
  &__subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:0;
    width: 100%;
    color: rgba(0,0,0,0.75);
    background-color: rgba(255, 249, 239, 0.7);
    @include bp('tablet') {
      height: 35px;
      bottom: 30px;
      width: 200px;
    }
    &--no-gap {
      @include bp('tablet') {
        bottom: 0;
      }
    }
  }
  &__item {
    position: relative;
    width: 148px;
    height: 158px;
    margin: 5px;
    img {
      height: 158px;
      width: 148px;
    }
    @include bp('tablet') {
      width: 232px;
      height: 232px;
      margin: 50px;
      max-width: 232px;
      max-height: 232px;
      overflow: hidden;
      img {
        width: 200px;
        height: auto;
      }

    }
  }
  &__close {
    position: absolute;
    top: 15px;
    left: 15px;
    max-width: 18px;
    max-height: 18px;
    &:hover {
      cursor: pointer;
    }
  }
}