@import "./_grid.scss";

.recipes {
  @include bp('tablet') {
    max-width: 992px;
    margin: 0 auto;
  }
  &__section {
    text-align: center;
    margin-bottom: 45px;
  }
  &__gallery,
  &__large-gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__large-gallery {
    @include bp('tablet') {
      width: 1100px;
      margin: 0 auto;
    }
  }
  &__modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: #FFF9EF;
    z-index: 2;
  }
  &__item {
    position: relative;
    width: 148px;
    height: 158px;
    margin: 5px;
    @include bp('tablet') {
      width: 200px;
      height: 200px;
      margin: 41px;
      overflow: hidden;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:0;
    width: 100%;
    color: rgba(0,0,0,0.75);
    background-color: rgba(255, 249, 239, 0.7);
    @include bp('tablet') {
      height: 35px;
    }
  }
  &__discover {
    display: flex;
    justify-content: center;
  }
  &__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 276px;
    height: 40px;
    background-color: #4F3E0F;
    color: white;
    border-radius: 10px;
    &:hover {
      cursor: pointer;
    }
    @include bp('tablet') {
      height: 42px;
      width: 486px;
    }
  }
}