.slider{
  background:#FFF9EF;
  margin-top: 30px;
  @media screen and (min-width:760px) {
    margin-bottom: 120px;
    }
  @media screen and (max-width:960px) {
    margin-bottom: 120px;
    }
  .navigation {
    display: block;
    @media screen and (max-width:960px) {
      display: none;
      }
      ul{
        position: relative;
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        li{
          position: relative;
          display: inline-block;
          text-align: center;
          margin-right: 10%;
          margin-left: 10%;
          text-transform: uppercase;
          font-family: 'Lato';
          font-style: semibold;
          font-size: 22px;
          line-height: 26px;
          text-decoration: none;
          color: #BDBDBD;
          cursor: pointer;
          a{
            position: relative;
            display: inline-block;
            width: 100%;
          }
        }
        li.active{
          text-transform: uppercase;
          font-family: 'Lato';
          font-style: semibold;
          color: #EB5757;
        }
      }
    }
    h2{
      display: none;
      @media screen and (max-width:960px) {
        display: block;
        text-transform: uppercase;
        font-family: 'Lato';
        font-style: semibold;
        font-size: 31px;
        line-height: 37px;
        text-align: center;
      }
    }
    ul {
      display: none;
      @media screen and (max-width:960px) {
        display: block;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        li{
          display: inline-block;
          margin-left: 13%;
          margin-right: 13%;
          width: 16px;
          height: 16px;
          background-color: none;
          border-radius: 50%;
          border: 2px solid #EB5757;
          cursor: pointer;
        }
        li.active{
          background-color: #EB5757;
        }
      }
    }
  img {
    display: none;
    width: 65%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow: 4px 4px 20px 1px;
    @media screen and (max-width:960px) {
        display: block;
    }
  }
  .illustration {
    position: relative;
    display: block;
    width: 100%;
    height: 450px;
    margin-top: 50px;
    background-image: url('../../img/img-content/speculoos.png');
    background-position: center;
    background-size: cover;
    @media screen and (max-width:960px) {
      width: 65%;
      height: 250px;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 15px;
      box-shadow: 4px 4px 20px 1px;
    }
  }
  .about_illustration {
    position: relative;
    display: block;
    width: 100%;
    height: 450px;
    margin-top: 50px;
    background-image: url('../../img/img-content/speculoos.png');
    background-position: center;
    background-size: cover;
    @media screen and (max-width:960px) {
      width: 65%;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 15px;
      box-shadow: 4px 4px 20px 1px;
    }
  }
  .discover_illustration{
    position: relative;
    display: block;
    width: 100%;
    height: 450px;
    margin-top: 50px;
    background-image: url('../../img/img-content/recette.png');
    background-position: center;
    background-size: cover;
    @media screen and (max-width:960px) {
      width: 65%;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 15px;
      box-shadow: 4px 4px 20px 1px;
    }
  }
  .quality_illustration{
    position: relative;
    display: block;
    width: 100%;
    height: 450px;
    margin-top: 50px;
    background-image: url('../../img/img-content/quality.png');
    background-position: center;
    background-size: cover;
    @media screen and (max-width:960px) {
      width: 65%;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 15px;
      box-shadow: 4px 4px 20px 1px;
    }
  }
  .text-container {
    font-family: 'Lato';
    max-width: 65%;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    @media screen and (max-width:960px) {
      margin-top: 30px;
    }
  }
  .hidden{
    display: none;
  }
}
