@import './_colors.scss';
@import './_mixins.scss';
@import './_grid.scss';

.small-modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  @include bp('tablet') {
    background-color: rgba(0,0,0,0.4);
  }
  &__content {
    background-color: $bridal-heath;
    height: 100vh;
    @include bp('tablet') {
      position: relative;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 538px;
      height: 455px;
      border-radius: 10px;
      transform: translateY(150px);
    }
  }
  &__gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__title {
    font-family: "Lato";
    font-weight: 600;
    @include font-size(22px);
    margin-top: 86px;
    margin-bottom: 10px;
    text-align: center;
  }
  &__img {
    width: 261px;
    height: auto;
    margin-bottom: 16px;
    margin-left: auto;
    @include bp('tablet') {
      width: auto;
      margin-right: auto;
    }
  }
  &__description {
    @include font-size(14px);
    font-family: "Lato";
    font-weight: 200;
    text-align: center;
    @include bp('tablet') {
      margin-bottom: 47px;
    }
  }
  &__close {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 18px;
    height: 18px;
    &:hover {
      cursor: pointer;
    }
  }
}