@import "imports/_variables.scss";
@import "imports/_mixins.scss";
@import "imports/_fonts.scss";
@import "imports/_grid.scss";
@import "imports/_footer.scss";
@import "imports/_colors.scss";
@import "imports/_atelier.scss";
@import "imports/_prefooter.scss";
@import "imports/_recipes.scss";
@import "imports/_modal.scss";
@import "imports/_small-modal.scss";
@import "imports/_home.scss";
@import "imports/_slider.scss";

* {
  box-sizing: border-box;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

.cf:before,
.cf:after {
   content: " ";
   display: table;
}

.cf:after {
  clear: both;
}

body {
  background: #FFF9EF;
}
