@import "imports/_variables.scss";
@import "imports/_mixins.scss";
@import "imports/_fonts.scss";
@import "imports/_home.scss";
@import "imports/_slider.scss";


* {
    padding: 0;
    margin: 0;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

body {
  background: #FFF9EF;
}
